*{font-family: Arial, Helvetica, sans-serif;}

.cabecalho {text-align: center;
box-sizing:border-box;
background-color: rgb(255, 153, 204);
text-shadow: white 0.1em 0.1em 0.2em;
        width: auto;
        padding: 10px;
        }

.p {font-size:18px;
    text-align:left}

.titulo {font-size:20px bold;
    text-align:left;
    text-shadow: white 0.1em 0.1em 0.2em;
    background-color: rgb(168, 168, 168);
    padding: 12px;}

    ul, li
    {list-style-type: none;
    font-size: 20px;     
    background-color: rgb(209, 156, 223);
    width: auto;
    padding: 10px;
    border: solid 2px white;
    box-sizing: border-box;
    text-align:center}

        